<!--Brand Area Start-->
<div class="brands {% if section.settings.bottom_padding %} padding-bottom{% endif %}">
  {% if section.settings.heading != blank %}
  <div class="module-title">
    <h2>{{ section.settings.heading }}</h2>
  </div>
  {% endif %}
  {% if section.blocks.size > 0 %}
    <div id="banner{{section.id}}" class="owl-carousel owl-theme">
      {% for block in section.blocks %}
      {% assign aos_delay = forloop.index | times: 100 %} 
      <div class="item">
        {% if block.settings.link != blank %}          
        <a href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
          {% endif %}
          {% if block.settings.image != blank %}
          <img {% if settings.lazyloading_enable %}data-{% endif %}src="{{ block.settings.image | img_url: 'master' }}" alt="" class="{% if settings.lazyloading_enable %}lazyload{% endif %} img-responsive" />
          {% endif %}
          {% if block.settings.link != blank %}          
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#banner{{section.id}}").owlCarousel({
      autoPlay :  false ,
      items : 5,
      margin: 60,
      loop: true,			
      navSpeed : 1000,
      dotsSpeed : 1000,
      autoplaySpeed : 1000,
      nav :  true ,
      dots :  false ,
      responsive:{
        0:{
          items: 1
        },
        480:{
          items: 2
        },
        640:{
          items: 3
        },
        991:{
          items: 4
        },
        1200:{
          items: 5
        }
      }
    });
  });
</script>
<!--End of Brand Area-->