<!--Service Area Start-->
<div class="static1-elomus1">
  <div class="module-title">
    {% if section.settings.description != blank %}  
    <p class="sub-title">{{ section.settings.description }}</p>
    {% endif %}
    {% if section.settings.heading != blank %}  
    <h2>{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="row">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks limit:5 %}
    <div class="col col-md-3 col-sm-6 col-xs-12">
      <div class="box box{{forloop.index}}">
        {% if block.settings.use_feature_service_icon %}
        {% if block.settings.feature_service_icon != blank %}
        <i class="fa {{block.settings.feature_service_icon }}"></i>
        {% endif %}
        {% else %}
        {% if block.settings.image != blank %}
        <img {% if settings.lazyloading_enable %}class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: 'master' }}" alt="" />
        {% endif %}
        {% endif %} 
        <h4>{{ block.settings.feature_service_title }}</h4>
        <p>{{ block.settings.feature_service_description }}</p>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<!--End of Service Area-->