<div class="oc-menu mobile-menu hidden-lg" id="oc-menu-m{{section.id}}">
  <input type="hidden" id="menu-effect-{{section.id}}" class="menu-effect" value="none" />
  <div class="oc-menu-bar">
    <div class="left"><i class="fa fa-bars"></i> <span>{{ 'homepage.navigation.menu' | t }}</span></div>
    <div class="right"><i class="icon-menu" aria-hidden="true"></i></div>
  </div>
  <ul class="ul-top-items">
    {% for link in linklists[section.settings.header_menu_1].links %}
    {% assign child_list_handle = link.title | handleize %}
    {% assign megamenu = false %}

    {% for block in section.blocks %}
    {% if block.type == 'megamenu' %}
    {% if child_list_handle == block.settings.mega_menu %}
    {% include 'mega-menu-mob' %}
    {% assign megamenu = true %}
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if megamenu == false %}
    {% if linklists[child_list_handle].links != blank %}
    <li class="li-top-item {% if link.active %} active{% endif %}">
      <a class="a-top-link a-item" href="{{link.url}}">
        <span>{{link.title}}</span>
      </a>
      <span class="top-click-show a-click-show">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </span>
      <!-- Menu -->
      <div class="sub-menu-container">
        <ul class="ul-second-items">
          {% for childlink in linklists[child_list_handle].links %}
          <!-- Nested Level Third -->
          {% assign grand_child_list_handle = childlink.title | handleize %}
          {% if linklists[grand_child_list_handle].links != blank %}
          <li class="li-second-items">
            <a href="{{childlink.url}}" class="a-second-link a-item">
              <span class="a-second-title">{{ childlink.title | escape }}</span>
            </a>
            <span class="second-click-show a-click-show">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
            <div class="flyout-third-items">
              <ul class="ul-third-items">
                {% for grand_childlink in linklists[grand_child_list_handle].links %}
                <li class="li-third-items">
                  <a href="{{grand_childlink.url}}" class="a-third-link">
                    <span class="a-third-title">{{ grand_childlink.title | escape }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% else %}
          <li class="li-second-items">
            <a href="{{childlink.url}}" class="a-second-link a-item">
              <span class="a-second-title">{{ childlink.title | escape }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>
    {% else %}
    <li class="li-top-item">
      <a class="a-top-link a-item" href="{{link.url}}">
        <span>{{link.title}}</span>
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</div>
<!-- end menu area -->			
