<div class="static4-elomus4 advert6 alt {% if section.settings.bottom_padding %} padding-bottom{% endif %} {% if section.settings.bottom_border %} border-bottom{% endif %}" {% if section.settings.bg-image != blank %}style="background-image: url('{{ section.settings.bg-image | img_url: 'master' }}');" {% endif %}>
  <div class="container">
    <div class="row">
      {% if section.settings.image_position == 'left' %} 
      <div class="col col1 col-sm-6 col-xs-12">&nbsp;</div>
      {% endif %}
      <div class="col col3 col-sm-6 col-xs-12">
        <div class="module-title">
          {% if section.settings.description != blank %} 
          <p class="sub-title1">{{ section.settings.description }}</p>
          {% endif %}
          {% if section.settings.heading != blank %} 
          <h2>{{ section.settings.heading }}</h2>
          {% endif %}
        </div>
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks limit:3 %}
        <div class="box box{{forloop.index}}">
          <div class="text">
            {% if block.settings.text1 != blank %} 
            <h4>{{ block.settings.text1 }}</h4>
            {% endif %}
            {% if block.settings.text2 != blank %} 
            <p>{{ block.settings.text2 }}</p>
            {% endif %}
          </div>
          {% if block.settings.use_feature_icon %}
          {% if block.settings.feature_icon != blank %}
          <div class="icon-image">
            <i class="fa {{block.settings.feature_icon }}"></i>
          </div>
          {% endif %}
          {% else %}
          {% if block.settings.image != blank %}
          <div class="icon-image">
            <img {% if settings.lazyloading_enable %} class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: 'master' }}" alt=""/>
          </div>
          {% endif %}
          {% endif %}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      {% if section.settings.image_position == 'right' %} 
      <div class="col col1 col-sm-6 col-xs-12">&nbsp;</div>
      {% endif %}
    </div>
  </div>
</div>