<div class="static5-elomus3{% if section.settings.bottom_padding %} padding-bottom{% endif %} {% if section.settings.bottom_border %} border-bottom{% endif %}" {% if section.settings.bg-image != blank %}style="background-image: url('{{ section.settings.bg-image | img_url: 'master' }}');" {% endif %}>
  <div class="container">
    <div class="module-title">
      {% if section.settings.description != blank %} 
      <p class="sub-title1">{{ section.settings.description }}</p>
      {% endif %}
      {% if section.settings.heading != blank %} 
      <h2>{{ section.settings.heading }}</h2>
      {% endif %}
    </div>
    <div class="row">
      <div class="col col1 col-sm-6 col-xs-12">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks limit:10 %}
        <ul>
          {% if block.settings.text1 != blank %} 
          <li>{{ block.settings.text1 }}</li>
          {% endif %}
          <li>											</li>
          {% if block.settings.text2 != blank %} 
          <li>{{ block.settings.text2 }}</li>
          {% endif %}
        </ul>
        {% if forloop.index == 5 %}
      </div>
      <div class="col col2 col-sm-6 col-xs-12">
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
