<div class="banner-static static2-elomus3{% if section.settings.bottom_padding %} padding-bottom{% endif %} {% if section.settings.bottom_border %} border-bottom{% endif %}">
  <div class="row">
    {% if section.settings.image_position == 'left' %} 
    <div class="col col-image col-sm-6 col-xs-12">
      {% if section.settings.bg-image %}
      <div class="image">
        <a href="{{ section.settings.link }}">
          <img {% if settings.lazyloading_enable %} class="lazyload" data-{% endif %}src="{{ section.settings.bg-image | img_url: 'master' }}" alt=""/>
        </a>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="col col-text col-sm-6 col-xs-12">
      <div class="inner text-{{ section.settings.ad_align }}" style="text-align:{{ section.settings.ad_align }}">
        <div class="module-title">
          {% if section.settings.subheading != blank %}  
          <p class="sub-title1">{{ section.settings.subheading }}</p>
          {% endif %}
          {% if section.settings.heading != blank %}  
          <h2>{{ section.settings.heading }}</h2>
          {% endif %}
        </div>
        {% if section.settings.description != blank %} 
        <p>{{ section.settings.description }}</p>
        {% endif %}
        {% if section.settings.link_text != blank %} 
        <a href="{{ section.settings.link }}" class="txt">{{ section.settings.link_text }}</a>
        {% endif %}
        {% if section.settings.link_text_2 != blank %} 
        <a href="{{ section.settings.link_2 }}" class="txt2">{{ section.settings.link_text_2 }}</a>
        {% endif %}
      </div>
    </div>
    {% if section.settings.image_position == 'right' %} 
    <div class="col col-image col-sm-6 col-xs-12">
      {% if section.settings.bg-image %}
      <div class="image">
        <a href="{{ section.settings.link }}">
          <img {% if settings.lazyloading_enable %} class="lazyload" data-{% endif %}src="{{ section.settings.bg-image | img_url: 'master' }}" alt=""/>
        </a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>