<div class="sub-col col-sm-12 col-md-12">
  <div class="tt_tabsproduct_module tabs-category-slider {% if section.settings.listing_rows != 1 %} multi-rows {% endif %}" id="product_module{{section.id}}">
    <div class="module-title">
      {% if section.settings.description != blank %}  
      <p class="sub-title1">{{ section.settings.description }}</p>
      {% endif %}
      {% if section.settings.heading != blank %}  
      <h2>{{ section.settings.heading }}</h2>
      {% endif %}
      <ul class="tab-heading tabs-categorys">
        {% capture tabs %}{{ section.settings.products_tab_collection1 }},{{ section.settings.products_tab_collection2 }},{{ section.settings.products_tab_collection3 }},{{ section.settings.products_tab_collection4 }},{{ section.settings.products_tab_collection5 }}{% endcapture %}
        {% assign tabs_collection = tabs | split: "," %}
        {% for coll in tabs_collection %}
        {% assign title = collections[coll].title %}
        <li>
          <a data-toggle="pill" href="#tab-{{ section.id }}{{ forloop.index0 }}"><span>{{ title }}</span></a>
        </li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="box-style">
      <div class="owl-container">
        <div class="tt-product">
          <div class="tab-content">
            {% for coll in tabs_collection %}
            {% assign coll_products = collections[coll].products %}
            <div class="tab-container-{{ section.id }} owl-carousel owl-theme tab-pane fade" id="tab-{{ section.id }}{{ forloop.index0 }}" >
              {% if section.settings.listing_rows == 1 %}
              {% for product in coll_products limit:section.settings.products_tab_count %}
              <div class="row_items">
                {% include 'product-grid-item' %}
              </div>
              {% endfor %}
              {% else %}
              <div class="row_items">
                {% for product in coll_products limit:section.settings.products_tab_count %}
                {% include 'product-grid-item' %}
                {% assign ind = forloop.index | times: 1 | modulo:section.settings.listing_rows %}
                {% if  ind == 0 %}
              </div><div class="row_items">
              {% endif %}
              {% endfor %}
              </div>
              {% endif %}
              <!-- productTabContent -->
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <script >
    $(document).ready(function() {
      $('a[href="#tab-{{ section.id }}0"]').trigger( "click" );
        $(".tab-container-{{ section.id }}").owlCarousel({
        items: {{ section.settings.no_of_products }},
        loop:  false ,
        margin:  0 ,
        nav:  true ,
        dots:  false ,
        autoplay:   false ,
        autoplayTimeout:  1000 ,
        autoplayHoverPause: true,
        autoplaySpeed:  1000 ,
        navSpeed:  1000 ,
        dotsSpeed:  1000 ,
        lazyLoad: true,
        responsive:{
        0:{
        items: 1,
        nav: false,
        dots: true
        },
        480:{
        items: 2,
        nav: false,
        dots: true
        },
        768:{
        items: 2
        },
        992:{
        items: 3
        },
        1200:{
        items: {{ section.settings.no_of_products }}
        },
        1600:{
        items: {{ section.settings.no_of_products }}
        }
        },
        onInitialized: function() {
        var count = $(".tab-container-{{ section.id }} .owl-item.active").length;
                      if(count == 1) {
          $(".tab-container-{{ section.id }} .owl-item").removeClass('first');
            $(".tab-container-{{ section.id }} .owl-item.active").addClass('first');
            } else {
            $(".tab-container-{{ section.id }} .owl-item").removeClass('first');
            $(".tab-container-{{ section.id }} .owl-item.active:first").addClass('first');
            }
            },
            onTranslated: function() {
            var count = $(".tab-container-{{ section.id }} .owl-item.active").length;
                          if(count == 1) {
              $(".tab-container-{{ section.id }} .owl-item").removeClass('first');
                $(".tab-container-{{ section.id }} .owl-item.active").addClass('first');
                } else {
                $(".tab-container-{{ section.id }} .owl-item").removeClass('first');
                $(".tab-container-{{ section.id }} .owl-item.active:first").addClass('first');
                }
                }
                });
            });
  </script>
</div>