{% unless grid_item_width %}
{% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% unless current_collection %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if item.compare_at_price > item.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if item.available %}
{% assign sold_out = false %}
{% endif %}

{% assign image_size = settings.collection_prod_image_sizes %}
{% if item.object_type == 'product' %}
{% assign img_size = settings.img_size_grid %}
{% include 'product-grid-item-collection.liquid', search:true, product:item %}
{% comment %}
<div class="product-layout product-grid grid-style col-lg-3 col-md-3 col-sm-3 col-xs-6 product-item">
  <div class="product-thumb">
    <div class="item item{{ forloop.index }}">
      <div class="item-inner">
        <div class="image images-container">
          {% include 'product_label' %}
          <div class="image rotate-image-container">
            {% if settings.product_grid_img_carousel == true %}
            <div id="myCarousel{{ section.id }}-{{item.id}}" class="carousel slide img-other" data-ride="carousel" data-interval="false">
              <!-- product inside carousel -->
              <div class="carousel-inner" role="listbox">
                {% for image in item.images %}
                <div class="item {% if forloop.first == true %}active{% endif %}">
                  <a class="product-image" title="{{ item.title }}" href="{{ item.url | within: collection }}">
                    <img class="img-responsive lazy" src="{{ image.src | img_url: img_size }}" alt="">
                  </a>
                </div>
                {% endfor %}
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel{{ section.id }}-{{item.id}}" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel{{ section.id }}-{{item.id}}" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
            {% else %}
            <a href="{{ item.url }}" class="">
              <img class="img-responsive img-default-image img-cate-{{item.id}}{% if section %}-{{section.id}}{%endif %}" src="{{ item.featured_image.src | img_url: img_size }}" alt="{{ item.featured_image.alt | escape }}">
              <img class="img-responsive img-rotate-image" src="{{ item.images.last | product_img_url: img_size }}" alt="{{ item.images.last.alt | escape }}">
              {% if settings.grid_color_swatches %}
              {% if item.available and item.variants.size > 1 %}
              {% include 'swatch-grid-img' with 'Color'  %}
              {% endif %}
              {% endif %}
            </a>
            {% endif %}
          </div>
          {% if item.description contains "[deal]" %}
          <div id="Countdown{{item.id}}-{{section.id}}" class="box-timer {% if section.settings.product_grid_img_carousel == true %} grid_img_carousel {%endif %}"></div>
          <script type="text/javascript">
            $(function () {
              $('#Countdown{{item.id}}-{{section.id}}').countdown({
                until: new Date('{{ item.description | split:'[deal]' | last | split :'[/deal]' | first }}'),
                labels: ['Years', 'Months ', 'Weeks', 'Days', 'Hrs', 'Mins', 'Secs'],
                labels1: ['Year', 'Month ', 'Week', 'Day', 'Hr', 'Min', 'Sec'],
                });
            });
          </script>
          {% endif %}
          <div class="button-group action-links">
            <button class="button btn-compare" type="button" data-toggle="tooltip" title="{{ 'products.product.view_details' | t }}" onclick="window.top.location.href='{{ item.url }}';">
              <span>{{ 'products.product.view_details' | t }}</span>
            </button>
            {% include 'product-wishlist2' %}
            <button class="button btn-quickview quickview" type="button" title="{{ 'products.product.quickview' | t }}" data-toggle="modal" data-target="#productModal" data-productinfo='{{ item | json | escape}}' data-original-title="{{ 'products.product.quickview' | t }}">
              <span>{{ 'products.product.quickview' | t }}</span>
            </button>
          </div>
        </div>
        <!-- image -->
        <div class="caption">
          {% if settings.product_vendor_enable %}
          <p class="manufacture-product">
            <span>{{ 'products.product.brand' | t }}: </span>{{ item.vendor | link_to_vendor }}
          </p>
          {% endif %}
          <div class="ratings">
            <div class="rating-box">
              {% include 'review' %}
            </div>
          </div>
          {% if settings.grid_color_swatches %}
          {% if item.available and item.variants.size > 1 %}
          {% include 'swatch-grid' with 'Color' %}
          {% endif %}
          {% endif %}
          <h4 class="product-name">
            <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
          </h4>
          <p class="product-des">
            {% if item.description contains '[summary]' %}
            {{ item.description | split:'[summary]' | last | split :'[/summary]' | first | strip_html | truncatewords: 30 }}
            {% else %}
            {% assign product_summary_words = settings.product_summary_words | times: 1 %} 
            {{ item.content | split:"[summary]" | first | split:"[video]" | first | split:"[tab]" | first | split:"[deal]" | first | strip_html | truncatewords: 30 }}
            {% endif %}
          </p>
          <div class="price-box">
            <label>{{ 'products.product.loading' | t }}:</label>
            {% if item.compare_at_price > item.price %}
            <p class="special-price"><span class="price">{{ item.price | money }}</span></p>
            <p class="old-price"><span class="price">{{ item.compare_at_price_max | money }}</span></p>
            {% else %}
            <p class="regular-price"><span class="price">{{ item.price | money }}</span></p>
            {% endif %}
          </div>
          <button class="button btn-cart {% if sold_out %} btn disabled {% endif %}" type="button" data-toggle="tooltip" data-loading-text="{{ 'products.product.loading' | t }}" title="{{ 'products.product.add_to_cart' | t }}" {% if sold_out == false %}onclick="cart.add('{{ item.variants.first.id }}');"{% endif %}>
            <span>{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </div>
        <!-- caption -->
      </div>
    </div>
  </div>
  <!-- product-thumb -->
</div>
{% endcomment %}
{% else if item.object_type == 'blog' %}
{% assign img_size = settings.img_size_grid %}
<div class="product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-6 product-item">
  <div class="product-thumb">
    <div class="item item{{ forloop.index }}">
      <div class="item-inner">
        <div class="image images-container">
          <div class="image rotate-image-container">
            {% if item.image %}
            <a href="{{ item.url }}" class="">
              <img class="img-responsive img-default-image" src="{{ item.image.src | img_url: img_size }}" alt="{{ item.featured_image.alt | escape }}">
            </a>
            {% endif %}
          </div>
        </div>
        <!-- image -->
        <div class="caption">
          <h4 class="product-name">
            <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
          </h4>
        </div>
        <!-- caption -->
      </div>
    </div>
  </div>
  <!-- product-thumb -->
</div>
{% else %}
{% assign img_tag = '<' | append: 'img' %}
{% if item.content contains img_tag %}
{% assign src = item.content | split: 'src="' %}
{% assign src = src[1] | split: '"' | first %}
{% if src %}
{% assign image_src = src | replace: '_small.', '.' | replace: '_compact.', '.' | replace: '_medium.', '.' | replace: '_large.', '.' | replace: '_grande.', '.' %}
{% endif %}
{% endif %}

{% unless image_src == blank %}
<div class="product-grid-image">
  <div class="product-grid-image--centered">
    {{ image_src | img_tag }}
  </div>
</div>
{% endunless %}

<p class="h6">{{ item.title }}</p>

<div class="rte">
  {% if item.excerpt.size > 0 %}
  <p>{{ item.excerpt | strip_html | truncatewords: 30 }}</p>
  {% else %}
  <p>{{ item.content | strip_html | truncatewords: 30 }}</p>
  {% endif %}
</div>
{% endif %}
