<div class="banner-static static2-elomus1{% if section.settings.bottom_padding %} padding-bottom{% endif %} {% if section.settings.bottom_border %} border-bottom{% endif %}" >
  {% if section.settings.heading != blank or section.settings.subheading != blank%}  
  <div class="module-title">
    {% if section.settings.subheading != blank %}  
    <p class="sub-title">{{ section.settings.subheading }}</p>
    {% endif %}
    {% if section.settings.heading != blank %}  
    <h2>{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  {% endif %}
  <div class="banner-text-alt text-{{ section.settings.ad_align }}" style="text-align:{{ section.settings.ad_align }}">
    {% if section.settings.description != blank %} 
    <p>{{ section.settings.description }}</p>
    {% endif %}
    {% if section.settings.link_text != blank %} 
    <a href="{{ section.settings.link }}" class="txt">{{ section.settings.link_text }}</a>
    {% endif %}
    {% if section.settings.link_text_2 != blank %} 
    <a href="{{ section.settings.link_2 }}" class="txt2">{{ section.settings.link_text_2 }}</a>
    {% endif %}
  </div>
</div>