<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Social ================================================== -->
  {% include 'open-graph-tags' %}

  {{ content_for_header }}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <!-- JS ================================================== -->
  {{ 'modernizr-2.8.3.min.js' | asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

</head>

<body class="template-password">

  {{ content_for_layout }}

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  <script>
    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: {{ 'general.password_page.close' | t | json }},
        removalDelay: 500,
        callbacks: {
        open: function() {
        window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
    },
      close: function() {
      window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
    }
    }
    });
    if ( $('.storefront-password-form .errors').size() ) {
      $('.js-toggle-login-modal').click();
    }
    });
  </script>

</body>
</html>