{% paginate blog.articles by section.settings.no_articles %}

{% assign blog_image_size = '412x240' %}
{% if section.settings.blog_layout == 'full' or section.settings.blog_layout contains 'grid' %}
{% assign blog_image_size = 'master' %}
{% endif %}

{% assign even = 'even' %}
{% if section.settings.blog_layout == 'cross' %}
{% assign even = 'even cross' %}
{% endif %}

<div class="container">
  <div class="main">
    <div class="row">
      <div class="col-order">
        {% if section.settings.show_sidebar == 'left' %}
        {% include 'blog-sidebar' %}
        {% endif %}

        <div id="content" class="{% if section.settings.show_sidebar != 'no' %}col-md-9{% else %}col-md-12{% endif %} col-sm-12 col-xs-12">
          <h1>{{ 'blogs.title' | t }}</h1>
          <div class="article-page">
            {% for article in blog.articles %}
            <div class="article-layout article-list {% if section.settings.blog_layout == 'grid2' %}grid col-md-6 {% elsif section.settings.blog_layout == 'grid3' %}grid col-md-4{% endif %}">
              <div class="article-item {% cycle 'odd', 'even' %}">
                <div class="article-item-inner text-{{ section.settings.text_align }}">
                  <div class="article-intro">
                    <div class="intro-content">
                      {% if article.image %}
                      <a href="{{ article.url }}">
                        <img {% if settings.lazyloading_enable %} class="lazyload" data-{% endif %} src="{{ article | img_url: blog_image_size }}" alt="{{ article.title }}">
                      </a>
                      {% endif %}
                      <div class="article-name">
                        <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                      </div>
                      <p class="articledate">
                        <time datetime="{{ article.published_at }}">{{ article.published_at | date: "%m/%d/%y" }}</time>
                        / {{ 'blogs.article.by' | t }}: {{ article.author }}
                      </p>
                      {% if section.settings.show_summary %}
                      <div style="padding: 0 0 10px;">
                        {% if article.excerpt.size > 0 %}
                        <p>{{ article.excerpt | truncatewords: section.settings.blog_summary_words,"" }}</p>
                        {% else %}
                        {% if section.settings.show_summary_stripped %}
                        <p>{{ article.content | strip_html | truncatewords: section.settings.blog_summary_words,"" }}</p>
                        {% else %}
                        <p>{{ article.content | truncatewords: section.settings.blog_summary_words,"" }}</p>
                        {% endif %}
                        {% endif %}  
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <a class="btn readmore-page" href="{{ article.url }}">{{ 'blogs.article.readmore' | t }}</a>                  
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
          {% include 'pagination' %}
          {% endif %}
        </div>

        {% if section.settings.show_sidebar == 'right' %}
        {% include 'blog-sidebar' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endpaginate %}

{% schema %}
{
   "name": "Blog Page",
   "settings": [
      {
        "type": "paragraph",
        "content": "[Video Guide for blog page](https://youtu.be/krrVmNbR60k?list=PLvJCnPMUAdwr6XxWVo_f9dkVRh8GNCXoa)"
      },        
      {
         "type":"select",
         "id":"blog_layout",
         "label":"Layout",
         "options":[
            {
               "value":"default",
               "label":"default"
            },
			{
               "value":"full",
               "label":"Full Image / Grid 1"
            },
            {
               "value":"grid2",
               "label":"Grid 2"
            },
            {
               "value":"grid3",
               "label":"Grid 3"
            },
			{
               "value":"cross",
               "label":"Cross Image"
            }
         ],
         "default":"default"
      },
	  {
        "type": "text",
        "id": "no_articles",
        "label": "No of articles to show (per page)",
        "default": "5"
      },
      {
        "type": "checkbox",
        "id": "show_summary",
        "label": "Show Summary in list view",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_summary_stripped",
        "label": "Strip Summary",
        "default": true,
        "info": "Strips html tags to show text without format"
      },
      {
        "type": "text",
        "id": "blog_summary_words",
        "label": "Words count on summary area",
        "default": "30"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text Alignment",
        "options": [
          {
          "value": "left",
          "label": "left"
          },
          {
          "value": "center",
          "label": "center"
          },
          {
          "value": "right",
          "label": "right"
          },
          {
          "value": "justify",
          "label": "justify"
          }
         ],
        "default": "left"
      },
	  {
         "type":"select",
         "id":"show_sidebar",
         "label":"Sidebar position",
         "options":[
            {
               "value":"no",
               "label":"No Sidebar"
            },
            {
               "value":"left",
               "label":"Left Sidebar"
            },
            {
               "value":"right",
               "label":"Right Sidebar"
            }
         ],
         "default":"no"
      }
    ],
   "blocks": [
      {
        "type": "search",
        "name": "Sidebar Search",
        "settings": [
          {
             "type":"checkbox",
             "id":"show_sidebar_search_box",
             "label":"Show Sidebar Search Box",
             "default":true
          }
        ]
      },
      {
        "type": "links",
        "name": "Sidebar links menu",
        "settings": [
          {
             "type": "link_list",
             "id": "sidebar_menu",
             "label": "Sidebar links menu"
          }
        ]
      },
      {
        "type": "recent-articles",
        "name": "Sidebar Recent Articles",
        "settings": [
          {
             "type":"checkbox",
             "id":"show_article_heading",
             "label":"Show Heading",
             "default":true
          },
		  {
             "type":"checkbox",
             "id":"article_publish_info",
             "label":"Show Publish Info",
             "default":false
          }
        ]
      },
      {
        "type": "tags",
        "name": "Sidebar Tags",
        "settings": [
          {
             "type":"checkbox",
             "id":"show_sidebar_tags_title",
             "label":"Show Title",
             "default":true
          }
        ]
      },
      {
        "type": "image",
        "name": "Sidebar Image",
        "settings": [
          {
             "type":"image_picker",
             "id":"side_image",
             "label":"Side image"
          },
          {
             "type":"url",
             "id":"side_link",
             "label":"Side image link"
          }
        ]
      }
	],
   "presets": []
}
{% endschema %}