<!--Contact Us Area Start-->
<div id="contactus" class="container">
  <div class="row" class="reveal-modal">
    <div id="content" class="col-sm-12">
      <h1>Contact Us</h1>
      {% if section.settings.show_map %}
      <h3>{{ 'contact.form.location' | t }}</h3>
      <!--Map area start -->
      <div >
        {{ section.settings.map_code }}
      </div>
      {% endif %}
      {% if section.settings.show_content %}
      <div >
        {{ page.content }}
      </div>
      {% endif %}
      <!--Map area end -->
      <div class="form-horizontal hiddde_">
        {% form 'contact' %}
      

        {% include 'form-errors-custom' %}
        <fieldset>
          <legend>{{ 'contact.form.leave_msg' | t }}</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ 'contact.form.name' | t }}</label>
            <div class="col-sm-10">
              <input type="text" id="contactFormName" name="contact[name]" class="form-control" placeholder="{{ 'contact.form.name' | t }}" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ 'contact.form.email' | t }}</label>
            <div class="col-sm-10">
              <input type="text" id="contactFormEmail" name="contact[email]" class="form-control" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ 'contact.form.phone' | t }}</label>
            <div class="col-sm-10">
              <input type="text" id="contactFormPhone" name="contact[phone]" class="form-control" placeholder="{{ 'contact.form.phone' | t }}" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ 'contact.form.message' | t }}</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="10" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
          </div>
          {% if section.settings.accept_check_enable %}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">&nbsp;</label>
            <div class="col-sm-10">
              <p style="float: none; text-align: right; clear: both; margin: 10px 0;">
                <input style="float:none; vertical-align: middle;" type="checkbox" id="contact_accept_agree" />
                <label style="display:inline; float:none" for="agree">
                  {{ section.settings.accept_text }}
                </label>
              </p>
            </div>
          </div>
          {% endif %}
        </fieldset>
        <div class="buttons submit">
          <div class="pull-right">
            <input class="btn btn-primary" id="submitMessage" name="submitMessage" type="submit" value="{{ 'contact.form.send' | t }}" />
          </div>
        </div>
  {% if form.posted_successfully? %}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
        {% endif %}
        {% endform %}
      </div>    
    </div>
  </div>
</div>
<!--End of Contact Us Area-->
{% schema %}
{
   "name": "Contact Us Page",
   "settings": [
      {
        "type": "paragraph",
        "content": "[Video Guide](https://youtu.be/35FFlajP5H4?list=PLvJCnPMUAdwr6XxWVo_f9dkVRh8GNCXoa)"
      },
	  {
        "type": "checkbox",
        "id": "show_map",
        "label": "Show map",
        "default": true
      },
      {
        "type": "textarea",
        "id": "map_code",
        "label": "Map code snippet",
        "info": "Go to [Google Maps](https:\/\/google.com\/maps) for generating code. Set width=100% to show full size map"
      },
	  {
        "type": "checkbox",
        "id": "show_content",
        "label": "Show page content",
 		"info": "Text added in page created from admin",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "Below options are to add accept option to make it GDPR complaint"
      },
      {
        "type": "checkbox",
        "id": "accept_check_enable",
        "label": "Enable Accept check",
        "default": true
      },
      {
        "type": "textarea",
        "id": "accept_text",
        "label": "Accept Text",
        "default": "I agree with the terms and conditions."
      }
    ],
   "blocks": [],
 "presets": [{
    "name": "Contact Form section"
  }]
}
{% endschema %}
{% if section.settings.accept_check_enable %}
<script>
  $(document).ready(function() {
    $('body').on('click', '[name="submitMessage"]', function() {
      if ($('#contact_accept_agree').is(':checked')) {
        $(this).submit();
      }
      else {
        alert("{{ 'cart.general.terms_c_agree' | t }}");
              return false;
              }
              });
      });
</script>
{% endif %}




<Style>
  .form-horizontal.hiddde_ {
  }

  #contactus {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
  }
  #contactus:target {
    visibility: visible;
    display: block;
  }
  .reveal-modal {
    position: relative;
    margin: 0 auto;
    top: 25%;
  }
</Style>
