<div class="container">
  <div class="module-title">
    {% if section.settings.heading %}
      <h2 class="title_">
        <strong>{{ section.settings.heading }}</strong>
      </h2>
    {% endif %}
    {% if section.settings.description %}
      <p class="sub-title">{{ section.settings.description }}</p>
    {% endif %}
  </div>
  <div id="0abf8e33-eb72-4b19-9820-0e813de20466">let's invest in renewble energy</div>
  <div class="containerr">
    <form class="toggle">
      <input type="radio" id="choice1" name="choice" value="Interior">
      <label for="choice1">In-house</label>

      <input type="radio" id="choice2" name="choice" value="exterior">
      <label for="choice2">External</label>

      <div id="flap"><span class="content">productive</span></div>
    </form>
  </div>

  <div id="owl-carousel{{section.id}}" class="owl-carousel">
    {% for block in section.blocks %}
      <div id="{{ block.id }}">
        <script>
          console.log("{{ block.id }}");
          console.log("c'est l'id du block")
        </script>
        <div class="slide-item">
          <div class="left-slider">
            <img src="{{ block.settings.image  | img_url: 'master'}}" alt="">
          </div>
          <div class="right-text">
            <div class="title">{{ block.settings.Title }}</div>
            <div class="description_">{{ block.settings.discription }}</div>
          </div>
        </div>
        <div class="layer-mask"></div>
      </div>
    {% endfor %}

    <!--
      <div><img src="https://via.placeholder.com/400x300/f63/fff/?text=2" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300/fc3/fff/?text=3" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300/693/fff/?text=4" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300/3cc/fff/?text=5" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300/369/fff/?text=6" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300/936/fff/?text=7" alt=""></div>
    -->
  </div>
</div>

{% schema %}
 {
   "name": "custom-slider",
   "settings": [
     {
     "type": "text",
     "id": "heading",
     "label": "Heading",
     "default": "WHAT OUR CLIENTS SAY"
},
   {
     "type": "textarea",
     "id": "description",
     "label": "Description",
     "default": "Welcome to my personal presentation"
   }
   ],
     "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [

       {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
         "type":"text",
         "id":"Title",
         "label":"title"
       },
        {
         "type":"richtext",
         "id":"discription",
         "label":"discription"
       }
      ]
    }
  ],
   "presets":[
     {
       "name":"custom-slider"
     }
   ]
 }
{% endschema %}

<style>
  .layer-mask {
      width: 100%;
      height: 100%;
      opacity: .7;
      transition: all .5s;
      background-color: #3e3e3e;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
        margin: 6% 8% !important;
  }
  .owl-item.active.center .layer-mask {
      display: none;
  }


    .owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }


  .owl-item.active > div:after {
  /*   content: 'active'; */
  }
  .owl-item.center > div:after {
  /*   content: 'center'; */
  }
  .owl-item.active.center > div:after {
  /*   content: 'active center'; */
  }
  .owl-item.center > div {
      cursor: auto;
      margin: 6% 8%;
  }
    .owl-item.active.center {
      background: none;
  }

  .slide-item {
   display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  }
    .right-text {
      padding-left: 2rem;
  }
    .right-text .title {
      color: #42db44;
      font-size: 3rem;
      font-weight: 700;
      line-height: 35px;
      width: 100%;
      font-size: 3rem;
  }
    .right-text .description_  p{
      font-size:19px;
      color: #000;
  }
    .owl-prev {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      margin-left: -20px;
      display: block !important;
      border:0px solid black;
  }

  .owl-next {
      width: 15px;
      height: 100px;
      position: absolute;
      top: 40%;
      right: -25px;
      display: block !important;
      border:0px solid black;
  }
  /* .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;} */
  .owl-prev {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 40%;
      margin-left: -20px;
      display: block !important;
      border: 0px solid black;
     background: #00000078;
      border-radius: 50%;
      opacity: 1;
      padding: 22px;
      color: white;
  }
  .owl-next {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 40%;
      display: block !important;
      border: 0px solid black;
      background: #00000078;
      border-radius: 50%;
      opacity: 1;
      right: 0;
      color: white;
      padding: 22px;
  }
  .owl-nav .owl-next i.fa.fa-chevron-right , .owl-nav  .owl-prev i.fa.fa-chevron-left{
      font-size: 25px;
      padding-left: 6px;
      margin: 0 auto;
  }
    .slide-item .left-slider img {
      width: 182px ;
      margin:0 auto;
  }
  @media(max-width: 767px){

    .module-title .sub-title {
      font-size: 20px !important;
      color: #707070;
      text-transform: none;
      font-family: 'georgia';
      font-style: normal;
      margin-bottom: 2;
  }
    .owl-nav .owl-next i.fa.fa-chevron-right, .owl-nav .owl-prev i.fa.fa-chevron-left {
      font-size: 14px;
      padding-left: 0px;
      margin: 0 auto;
  }
    .owl-next , .owl-prev{
      width: 30px;
      height: 30px;
      padding: 0rem;
      margin: 0 auto;
      padding-left: 11px;
      padding-top: 3px;
    }
  .slide-item {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
  }
    .slide-item .left-slider img {
      width: 180px;
      margin: 0 auto;
  }
    .slide-item .right-text .title {
      margin-bottom: 1rem;
      font-size: 20px;
  }
    .right-text .description_  p {
      font-size: 12px;
      color: #000;
  }
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("#owl-carousel{{section.id}}").owlCarousel({
      autoPlay :  false ,

      items : 1,
      margin: 60,
      loop: true,
      navSpeed : 1000,
      dotsSpeed : 1000,
      autoplaySpeed : 1000,
      nav :  true ,
      dots :  false ,
      center: true,
      navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
      responsive:{
        0:{
          items: 1,

        },
        480:{
          items: 1,

        },
        640:{
          items: 1,

        },
        991:{
          items: 1,

        },
        1200:{
          items: 2,

        }
      }
    });
  });
</script>

<style>
      :root {
      --accent: #2bda04;
      --border-width: 6px;
      --border-radius: 55px;
      --font-size: 30px;
  }



  .containerr {
      perspective: 800px;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20;
      font-family: sans-serif;
  }

  .toggle {
      position: relative;
      border: solid var(--border-width) var(--accent);
      border-radius: var(--border-radius);
      transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
      transform-style: preserve-3d;
      perspective: 800px;
  }

  .toggle>input[type="radio"] {
      display: none;
  }

  .toggle>#choice1:checked~#flap {
      transform: rotateY(-180deg);
  }

  .toggle>#choice1:checked~#flap>.content {
      transform: rotateY(-180deg);
  }

  .toggle>#choice2:checked~#flap {
      transform: rotateY(0deg);
  }

  .toggle>label {
      display: inline-block;
      min-width: 70px;
      padding: 5px;
      font-size: var(--font-size);
      text-align: center;
      color: var(--accent);
      cursor: pointer;
  }

  .toggle>label,
  .toggle>#flap {
      font-weight: bold;
      text-transform: capitalize;
  }

  .toggle>#flap {
      position: absolute;
      top: calc( 0px - var(--border-width));
      left: 50%;
      height: calc(100% + var(--border-width) * 2);
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size);
      background-color: var(--accent);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      transform-style: preserve-3d;
      transform-origin: left;
      transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
  }

  .toggle>#flap>.content {
      color: #333;
      transition: transform 0s linear .25s;
      transform-style: preserve-3d;
  }
</style>
<script>
  console.log("{{section.id}}");
  console.log("c'est l'id de la section-----------------------------");
</script>

<script>
      const st = {};

  st.flap = document.querySelector('#flap');
  st.toggle = document.querySelector('.toggle');

  st.choice1 = document.querySelector('#choice1');
  st.choice2 = document.querySelector('#choice2');

  st.flap.addEventListener('transitionend', () => {

      if (st.choice1.checked) {
          st.toggle.style.transform = 'rotateY(-15deg)';
          setTimeout(() => st.toggle.style.transform = '', 400);
        document.getElementById("0abf8e33-eb72-4b19-9820-0e813de20466").style.display = "none";
        console.log("on est ici ---------------------");
      } else {
          st.toggle.style.transform = 'rotateY(15deg)';
          setTimeout(() => st.toggle.style.transform = '', 400);
                document.getElementById("0abf8e33-eb72-4b19-9820-0e813de20466").style.display = "none";

      }

  })

  st.clickHandler = (e) => {

      if (e.target.tagName === 'LABEL') {
          setTimeout(() => {
              st.flap.children[0].textContent = e.target.textContent;
          }, 250);
      }
  }

  document.addEventListener('DOMContentLoaded', () => {
      st.flap.children[0].textContent = st.choice2.nextElementSibling.textContent;
  });

  document.addEventListener('click', (e) => st.clickHandler(e));
</script>
