<div class="header_top_nav_menu">

  <ul class="menu_ul">
      {% for block in section.blocks %}  
 {% case block.type %}
  {% when 'tab' %}
    <a href="{{ block.settings.url }}">
      <li onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;">
        {{ block.settings.icon }}
        <a href="{{ block.settings.url }}" style="color: {{ block.settings.clr }} !important;"> {{ block.settings.title }}</a>
      </li>
    </a>
  {% when 'Menu' %}
    <li onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important; width:{{ block.settings.custm-width }}%">
      <ul>
        {% for link in linklists.side-menu.links %}
          <span class="dropdown cstm-width" onclick="myfn()">
            <a href="#" {% if link.active %}aria-current="page"{% endif %}>
              {{ link.title }}
            </a>
            {% if link.links != blank %}
{% comment %}
            <ul class="dropdown-content" > 
             
                  {% for collection in collections %}
                  {{- collection.title | link_to: collection.url }}
                  {% paginate collection.products by 20 %}
                  {% for product in collection.products %}
                  <a href="{{ product.url }}" class="top_menu">
                  {% include 'product-grid-image',image:product.featured_image %}
                  {% if settings.hide_hover != true %}
                  {% include 'product-grid-image',image:product.images.last,hover:true %}
                  {% endif %}
                  {% if settings.grid_color_swatches != 'false' and settings.product_grid_img_carousel == false %}
                  {% if product.available and product.variants.size > 1 %}
                  {% include 'swatch-grid-img' with 'Color'  %}
                  {% endif %}
                  {% endif %}
                  </a>
                   <li> {{ product.title }}</li> 
                   <li><a href="{{ product.url }}" class="product-image"></a></li>
                  {% endfor %}
                  {{ paginate | default_pagination }}
                {% endpaginate %}                                
                {% endfor %}
                <li  id="toggle" class="close crs" ><a onclick="clsfn()">×</a></li>
           </ul>
{% endcomment %}
<ul class="dropdown-content">
 <nav>
                     {% for collection in collections %}
                <a href="{{ forloop.index }}" id="{{ forloop.index }}"><i class="far fa-user"></i> <span style=" display: none;>  {{- collection.title }} </span></a>
                  
                {% endfor %}
       {% comment %}       
   <a href="#first"><i class="far fa-user"></i></a>
   <a href="#second"><i class="fas fa-briefcase"></i></a>
   <a href="#third"><i class="far fa-file"></i></a>
   <a href="#fourth"><i class="far fa-address-card"></i></a>
              {% endcomment %}
 </nav>
  
<div class= 'container'> 
  <section id="{{ forloop.index }}">

 {% for collection in collections %}

 {% for product in collection.products %}
                  <a href="{{ product.url }}" class="top_menu">
                  {% include 'product-grid-image',image:product.featured_image %}
                  {% if settings.hide_hover != true %}
                  {% include 'product-grid-image',image:product.images.last,hover:true %}
                  {% endif %}
                  {% if settings.grid_color_swatches != 'false' and settings.product_grid_img_carousel == false %}
                  {% if product.available and product.variants.size > 1 %}
                  {% include 'swatch-grid-img' with 'Color'  %}
                  {% endif %}
                  {% endif %}
                  </a>
                   <li> {{ product.title }}</li> 
                   <li><a href="{{ product.url }}" class="product-image"></a></li>
                  {% endfor %}
    
 {% endfor %}
    
   



    
  </section>
  {% comment %}
  <section id= 'second'>
    <h1>Second</h1>
  </section>
  
 <section id= 'third'>
   <h1>Third</h1>
  </section>
  
 <section id= 'fourth'>
   <h1>Fourth</h1>
  </section>
  {% endcomment %}
</div>
</ul>         
              {% endif %}
          </span>
        {% endfor %}
      </ul>
    </li>
{% endcase %}
                
{% comment %}
{% for child_link in link.links %}
<li >
<a  class="drpdwn-menu" href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
{{ child_link.title }}
</a>
{% if child_link.links != blank %}
<ul>
{% for grandchild_link in child_link.links %}
<li>
<a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
{{ grandchild_link.title }}
</a>
</li>
{% endfor %}
</ul>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
</span>
{% endfor %}
 </ul>
</li>
{% endcase %}
 {% endcomment %}
    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [
    ],
    "blocks": [
     {
       "name": "Tab",
       "type": "tab",
 
       "settings": [
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },
        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
           {
          "type":"html",
          "id":"icon",
          "label":"please insert Icon class from https://fontawesome.com/icons"
        },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
         {
           "type":"url",
           "id":"url",
           "label":"Url"
         }
       ]
     },
      {
       "name": "Menu",
       "type": "Menu",
         
       "settings": [
         {
           "type":"number",
           "id":"custm-width",
           "label":"Please insert Width in %"
         },
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },

        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
    {
               "type":"link_list",
               "id":"mega_menu",
               "label":"Menu To Use",
               "info":"The menu should have atleast one item and main menu should have an item with the same name"
            },
          {
            "type":"image_picker",
            "id":"img2",
            "label":"image"
          },
             {
            "type":"image_picker",
            "id":"img",
            "label":"image2"
          }
            
       ]
     }
   ],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}
<style>
{% if template != 'index' %}
           
  .header_top_nav_menu {
    display: block;
    height: 6.5rem;
}
  {% endif %}

/* 
span.dropdown.cstm-width {
    width: 100% !important;
} */


  
/*   .header_top_nav_menu {
    margin: 0 auto;
    width: 97.6vw;
} */
.header_top_nav_menu .menu_ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
}
.header_top_nav_menu .menu_ul li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  
}
  
.header_top_nav_menu .menu_ul li:hover {
  cursor: pointer;
}
  
.header_top_nav_menu .menu_ul:hover a {
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
.header_top_nav_menu .menu_ul li {
     font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
}
  }
  
@media only screen and (max-width: 768px) {
  .header_top_nav_menu .menu_ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0;
    margin: 0;
  }
}




.dropdown {
  
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0 16px;
  margin: 0;
  margin-top:1vh;
  z-index: 99;
  height: 100vh;
  width: 100%;
/*   max-height: 0; */
  overflow: scroll;
  transition: max-height 0.5s ease-out;
}

/* .dropdown:hover .dropdown-content {
  max-height: 100vh;
}
 */
ul.dropdown-content li:first-child {
    margin-top: 0;
    position: initial;
}

    
 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  
}

.close:hover {
  color: orange;
  transform: rotate(90deg);
}

#content:target {
  display: none;
}
ul.dropdown-content.my-class {
    height: 100vh;
}
  span.dropdown.cstm-width ul.dropdown-content {

    display:none
}
    span.dropdown.cstm-width ul.dropdown-content.my-class {
    display: block;
    padding:0;

}
  a.top_menu img {
    width: 100%;
}
</style>

<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}
ul.dropdown-content.my-class .container {
    background: #191919;
    position: fixed;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}
/* ul.dropdown-content.my-class .container {
    position: fixed;
} */
 ul.dropdown-content.my-class .container section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

 ul.dropdown-content.my-class .container section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
 ul.dropdown-content.my-class .container section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

 ul.dropdown-content.my-class .container section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}
#second {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

/* @keyframes fadeIn {
    100% { opacity:1 }
} */
</style>
  
<script>
            function clsfn(){
      debugger
      
const otherDiv = document.querySelector(' ul.dropdown-content');
  otherDiv.classList.remove("my-class");
        
            }  
  function myfn(){
    
const myDiv = document.querySelector(' ul.dropdown-content');
myDiv.classList.add("my-class");
   // debugger
  } 

</script>