<div class="header_top_nav_menu">
  <ul class="menu_ul">
      {% for block in section.blocks %}  
    <a href="{{ block.settings.url }}">
    <li class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;">
      <a href="{{ block.settings.url }}" style="color: {{ block.settings.clr }} !important;">{{ block.settings.title }}</a>
<!--         {{ block.settings.title }} -->
    </li>
    </a>

    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [

      
    ],
    "blocks": [
     {
       "name": "Tab",
       "type": "tab",
       "settings": [
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
         {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background Color"
         },
        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
         {
           "type":"url",
           "id":"url",
           "label":"Url"
         }
       ]
     }
   ],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}
<style>
{% if template != 'index' %}
           
  .header_top_nav_menu {
    display: block;
    height: 6.5rem;
}
  {% endif %}





  
/*   .header_top_nav_menu {
    margin: 0 auto;
    width: 97.6vw;
} */
.header_top_nav_menu .menu_ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
}
.header_top_nav_menu .menu_ul li {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
  
.header_top_nav_menu .menu_ul li:hover {
  cursor: pointer;
  background: {{ block.settings.hover-bg }}!important;
}
.header_top_nav_menu .menu_ul:hover a {
  text-decoration: none;
}
.header_top_nav_menu .menu_ul .menu_li_first {
  background-color: #ffffff;
}
.header_top_nav_menu .menu_ul .menu_li_second {
  background-color: #000000;
}
.header_top_nav_menu .menu_ul .menu_li_third {
  background-color: #bbcae3;
}
.header_top_nav_menu .menu_ul .menu_li_four {
  background-color: #bbe3db;
}
.header_top_nav_menu .menu_ul .menu_li_first a {
  color: #000000 !important;
}
.header_top_nav_menu .menu_ul .menu_li_second a {
  color: #ffffff !important;
}
.header_top_nav_menu .menu_ul .menu_li_third a {
  color: #ffffff !important;
}
.header_top_nav_menu .menu_ul .menu_li_four a {
  color: #ffffff !important;
}
@media only screen and (max-width: 768px) {
  .header_top_nav_menu .menu_ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0;
    margin: 0;
  }
}

</style>