<div class="header_top_nav_menu">

  <ul class="menu_ul">
      {% for block in section.blocks %}  
 {% case block.type %}
  {% when 'tab' %}
    <a href="{{ block.settings.url }}">
      <li onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;">
        {{ block.settings.icon }}
        <a href="{{ block.settings.url }}" style="color: {{ block.settings.clr }} !important;"> {{ block.settings.title }}</a>
      </li>
    </a>
  {% when 'Menu' %}
    <li onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important; width:{{ block.settings.custm-width }}%">
      <ul>
        {% for link in linklists.side-menu.links %}
          <span class="dropdown cstm-width" onclick="toggleDropdown()">
            <a href="#" {% if link.active %}aria-current="page"{% endif %}>
              {{ link.title }}
            </a>
            {% if link.links != blank %}
              <ul class="dropdown-content" > 
                
                 <li  id="toggle" class="close crs" ><a onclick="clsfn()">×</a></li>
            
              {% for child_link in link.links %}
                  <li >
                    <a  class="drpdwn-menu" href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                      {{ child_link.title }}
                    </a>
                    {% if child_link.links != blank %}
                      <ul>
                        {% for grandchild_link in child_link.links %}
                          <li>
                            <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                              {{ grandchild_link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </span>
        {% endfor %}
      </ul>
    </li>
{% endcase %}

    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [
    ],
    "blocks": [
     {
       "name": "Tab",
       "type": "tab",
 
       "settings": [
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },
        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
           {
          "type":"html",
          "id":"icon",
          "label":"please insert Icon class from https://fontawesome.com/icons"
        },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
         {
           "type":"url",
           "id":"url",
           "label":"Url"
         }
       ]
     },
      {
       "name": "Menu",
       "type": "Menu",
         
       "settings": [
         {
           "type":"number",
           "id":"custm-width",
           "label":"Please insert Width in %"
         },
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },

        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
    {
               "type":"link_list",
               "id":"mega_menu",
               "label":"Menu To Use",
               "info":"The menu should have atleast one item and main menu should have an item with the same name"
            },
          {
            "type":"image_picker",
            "id":"img2",
            "label":"image"
          },
             {
            "type":"image_picker",
            "id":"img",
            "label":"image2"
          }
            
       ]
     }
   ],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}
<style>
{% if template != 'index' %}
           
  .header_top_nav_menu {
    display: block;
    height: 6.5rem;
}
  {% endif %}


.header_top_nav_menu .menu_ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
}
.header_top_nav_menu .menu_ul li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  
}
  
.header_top_nav_menu .menu_ul li:hover {
  cursor: pointer;
}
  
.header_top_nav_menu .menu_ul:hover a {
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
.header_top_nav_menu .menu_ul li {
     font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
}
  }
  
@media only screen and (max-width: 768px) {
  .header_top_nav_menu .menu_ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0;
    margin: 0;
  }
}
/* ul.dropdown-content li:first-child {
    margin-top: 0;
    position: initial;
}

    
 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  
} */

</style>
<script>
            
function toggleDropdown() {
  var dropdown = document.getElementById("dropdown");
  dropdown.classList.toggle("active");
}

function hideDropdown() {
  var dropdown = document.getElementById("dropdown");
  dropdown.classList.remove("active");
}
</script>