<div class="header_top_nav_menu">

  <ul class="menu_ul">
      {% for block in section.blocks %}  
 {% case block.type %}
    {% when 'tab' %}
  
    <a href="{{ block.settings.url }}">
    <li  onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;" >
      <a href="{{ block.settings.url }}" style="color: {{ block.settings.clr }} !important;">{{ block.settings.title }}</a>
<!--         {{ block.settings.title }} -->
    </li>
    </a>
     {% when 'Menu' %}
 

 <li  onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;" > 

  <ul>
    {%- for link in linklists.side-menu.links -%}
      <li class="dropdown cstm-width">
        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul class="dropdown-content">
            {%- for child_link in link.links -%}
              <li>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>

 </li>
<!-- 
    <a href="{{ block.settings.url }}">
    <li  onMouseOver="this.style.backgroundColor='{{ block.settings.hover-bg }}' " onMouseOut="this.style.backgroundColor='{{ block.settings.bg }} '" class="menu_li_first" href="{{ block.settings.url }}" style="background: {{ block.settings.bg }}; color: {{ block.settings.clr }} !important;" >
      <a href="{{ block.settings.mega_menu }}" style="color: {{ block.settings.clr }} !important;">{{ block.settings.title }}</a>

    </li> 
    </a>
 -->
  {% endcase %}
    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "top-menu",
    "settings": [

      
    ],
    "blocks": [
     {
       "name": "Tab",
       "type": "tab",
 
       "settings": [
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },

        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
         {
           "type":"url",
           "id":"url",
           "label":"Url"
         }
       ]
     },
      {
       "name": "Menu",
       "type": "Menu",
         
       "settings": [
         {
           "type":"color",
           "id":"bg",
           "label":"Tab Background"
         },
            {
           "type":"color",
           "id":"hover-bg",
           "label":"Hover Background"
         },

        {
           "type":"color",
           "id":"clr",
           "label":"Font Color"
         },
      {
          "type":"text",
          "id":"title",
          "label":"Tab Name"
        },
		{
               "type":"link_list",
               "id":"mega_menu",
               "label":"Menu To Use",
               "info":"The menu should have atleast one item and main menu should have an item with the same name"
            }
            
       ]
     }
   ],
    "presets":[
      {
        "name":"top-menu"
      }
    ]
  }
{% endschema %}
<style>
{% if template != 'index' %}
           
  .header_top_nav_menu {
    display: block;
    height: 6.5rem;
}
  {% endif %}


li.dropdown.cstm-width {
    width: 100% !important;
}


  
/*   .header_top_nav_menu {
    margin: 0 auto;
    width: 97.6vw;
} */
.header_top_nav_menu .menu_ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
}
.header_top_nav_menu .menu_ul li {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
  
.header_top_nav_menu .menu_ul li:hover {
  cursor: pointer;
}
  
.header_top_nav_menu .menu_ul:hover a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .header_top_nav_menu .menu_ul li {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0;
    margin: 0;
  }
}



  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 99.99%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 99;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>